@import 'bootstrap';
@import 'bootstrap-icons';

:root {
  --mv-primary: rgb(69, 214, 147);

}

body {
  font-family: 'Barlow Condensed', sans-serif;
}

.navbar {
  font-family: 'Press Start 2P', system-ui;
  color: var(--mv-primary);
}

.bi {
  color: var(--mv-primary);
}

.jumbotron {
  h1 {
    color: var(--mv-primary);
    font-weight: 900;
    font-size: 3.5rem;
  }
}

form {
  h2 {
    color: var(--mv-primary);
    font-size: 2rem;
    font-weight: 600;
  }

  input:focus {
    outline: 2px solid rgb(69, 214, 147) !important;
    border: none;
  }

  textarea:focus {
    outline: 2px solid rgb(69, 214, 147) !important;
    border: none;
  }
}